<!DOCTYPE html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/background_process_test',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

<html>
    <body>
        <h1>My Personal Website</h1>
        <p>Hi, this is my personal website.</p>
        <p><a href="{{ url_for('hello') }}">Check out this cool form!</a></p>
    </body>
    
    <div class='container'>
        <h3>Test</h3>
            <form>
                <a href=# id=test><button class='btn btn-default'>Test</button></a>
            </form>
    </div>
</html>
